h1= pageTitle
form(action="/submitAlumniData", method="POST")
	// Personal Data
	fieldset
		legend#personalData= personalData
		p
			label(for="studentID")= studentID
			input(type='number', name='studentID', placeholder='8 digits', required, pattern="[0-9]{8}")
			span.caption= studentIDcaption
		p
			label(for="fullName")= name
			input(type='text', name='fullName', placeholder='First Last', required)
		p
			label(for="birth")= dateofBirth
			input(type='date', name='birthDate', placeholder='yyyy-mm-dd', required, pattern="(19|20)\\d\\d$[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])", title="The date should be in the format yyyy-mm-dd with leading zeros where necessary")
		p
			label(for="graduationPeriod")= graduationPeriod
			select(name='graduationPeriod', required)
				option(value="", selected)
				option(value="1") September 2010
				option(value="2") February 2011
				option(value="3") September 2011
				span= graduationPeriodCaption
	// a(href='#').buttonNext 
	//  span.button Next

	// Contact Data
	fieldset
		legend#contactData= contactData
		p
			label(for="addressline")= address
			textarea(name='addressline', placeholder="Alamat sekarang", required)
		p
			label(for="city")= city
			input(type='text', name='city', required)
			select#countrySelect(name="country")
			script
				initCountry('ID', 'countrySelect');
		p
			label(for="postalCode")= postalCode
			input(type='text', name='postalCode', placeholder="6 digits")
		p
			label(for="email")= email
			input(type='email', name='email', placeholder="name@example.com", required)
		p
			label(for="phoneMobile")= phoneMobile
			input(type='text', name='phoneMobile', placeholder="", required)
			span.caption= phoneMobileCaption
	// a(href='#').buttonNext 
	//  span Berikutnya

	// Professional Certificate
	fieldset
		legend#proCertificate= proCertificate
		section.skipcheck
			span.frontCaption= checktoSkip
			label(for="procertSkip")
			input(type='checkbox', name='procertSkip', id='procertSkip')
			|  Saya tidak mempunyai sertifikasi profesi

		// Professional certificate dynamic
		div#cert
			section#certdata1.clonablecert.grayboxed
				p
					label(for="certName")= certName
					input(type='text', name='certName1')
				p
					label(for="certDate")= certDate
					input(type='date', name='certDate1', placeholder='yyyy-mm-dd', pattern="(19|20)\\d\\d$[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])", title="The date should be in the format yyyy-mm-dd with leading zeros where necessary")
				p
					label(for="certPublisher")= certPublisher
					input(type='text', name='certPublisher1')
					// Job related, connect to job entry
					// label= certJobLink
					// select(name='certJobLink')
					// option(value="1") Job number 1
					// option(value="2") Job number 2
					// option(value="3") Job number 3

			input(type='hidden', name='noofcert', id='noofcert', value='1')
			input(type='button', class="addbuttoncert addbtn", value='Tambah Sertifikasi Profesi').showelement
			input(type='button', class="delbuttoncert delbtn", value='Hilangkan input terakhir').hidden

	// Graduate Studies
	fieldset
		legend#gradStudies= gradStudies
		section.skipcheck
			span.frontCaption= checktoSkip
			label(for="gradstudySkip")
			input#gradstudySkip(type='checkbox', name='gradstudySkip')
			| Saya tidak sedang menjalani pendidikan lanjut

		// Graduate Studies Dynamic Form
		div#study
			section#studies.grayboxed.clonablestudy
				p
					label(for="schoolName")= schoolName
					input(type='text', name='schoolName')
				p
					label(for="enrollYear")= enrollYear
					select(name='enrollYear')
						option(value="", selected)
						option(value="2010") 2010
						option(value="2011") 2011
						option(value="2012") 2012
				p
					label(for="schoolCountry")= schoolCountry
					select#schoolCountry(name="country")
					script
						initCountry('ID', 'schoolCountry');
				p
					label(for="reason")= reason
					ul.twoColumnsList
						li
							input(type='checkbox', name='reason', value='Interest')
							span= reasonInterest
						li
							input(type='checkbox', name='reason', value='Talent')
							span= reasonTalent 
						li
							input(type='checkbox', name='reason', value='Friend')
							span= reasonFriend
						li
							input(type='checkbox', name='reason', value='Culture')
							span= reasonCulture
						li
							input(type='checkbox', name='reason', value='NotinUC')
							span= reasonNotinUC
						li
							input(type='checkbox', name='reason', value='Other')
							span= reasonOther
								input(type='text', name='reason')
				// a(href='#').addbutton Add Further Studies
				// input(type='hidden', name='noofstudies')

		// a(href='#').buttonNext 
		//  span.button Berikutnya

	// Professional Career
	fieldset
		legend#work= work

		// Pengangguran
		section#unemployed.skipcheck
			span.frontCaption= checktoSkip
			label(for="worktype").hidden
			input(type='checkbox', name='unemployed', value='unemployed', id='unemployed')
			| Saya belum mempunyai pekerjaan saat ini, karena
			ul#unemreason.twoColumnsList
				li
					input(type='radio', name='unemployedReason', value='Applying')
					span= unemreasonApply
				li
					input(type='radio', name='unemployedReason', value='Culture')
					span= unemreasonCulture
				li
					input(type='radio', name='unemployedReason', value='School')
					span= unemreasonSchool
				li
					input(type='radio', name='unemployedReason', value='Other')
					span= reasonOther
						input(type='text', name='unemployedReason')

		section#working
			// Working
			section.workEmployed
				p
					label(for="worktype").hidden
					input(type='checkbox', name='worktype', value='employed', id='employed', checked)
					| Saya bekerja di sebuah perusahaan / institusi

					div#employ
						section#employdata1.grayboxed.clonableemploy
							p
								label(for="employName")= employName
								input(type='text', name='employName')
							p
								label(for="employCountry")= employCountry
								select#employCountry(name='employCountry')
								script
									initCountry('ID', 'employCountry');
							p
								label(for="employStartDate")= employStartDate
								input(type='date', name='employStartDate', placeholder='yyyy-mm-dd', pattern="(19|20)\\d\\d$[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])", title="The date should be in the format yyyy-mm-dd with leading zeros where necessary")
							p.inlineField
								label(for="employCurrent").hidden
								input#currentJob(type='checkbox', name='employCurrent', value='current')
								| Ini adalah pekerjaan saya sekarang
							p#endDate
								label(for="employEndDate")= employEndDate
								input(type='date', name='employEndDate', placeholder='yyyy-mm-dd', pattern="(19|20)\\d\\d$[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])", title="The date should be in the format yyyy-mm-dd with leading zeros where necessary")
							p
								label(for="employField")= employField
								select#employField(name='employField')
								script
									initField('', 'employField');
							p
								label(for="employSalary")= employSalary
								select(name='employSalary')
									option(value="", selected)
									option(value="1") IDR 0-1.000.000
									option(value="2") IDR 1.000.001-2.500.000
									option(value="3") IDR 2.500.001-4.000.000
									option(value="4") IDR 4.000.001-6.000.000
									option(value="4") IDR 6.000.001-10.000.000
									option(value="5") lebih dari IDR 10.000.001
							p
								label(for="employAlign")= employAlign
								input(type='radio', name='employAlign', value='yes',)
								span Ya
								input(type='radio', name='employAlign', value='no',)
								span Tidak
							p
								label(for="employStudyHelp")= employStudyHelp
								input(type='radio', name='employStudyHelp', value='yes')
								span Ya
								input(type='radio', name='employStudyHelp', value='no')
								span Tidak
								#needClear
						// a(href='#').addbutton Add Profession
						// input(type='hidden', name='noofemploy', id='noofemploy', value='1')
						// input(type='button', class="addbuttonemploy addbtn", value='Tambah Pekerjaan').showelement
						// input(type='button', class="delbuttonemploy delbtn", value='Hilangkan input terakhir').hidden

			// Entrepreneur
			section.workEntrepreneur
				p
					label(for="worktype").hidden
					input(type='checkbox', name='worktype', value='entrepreneur', id='entrepreneur')
					| Saya mempunyai bisnis saya sendiri

				div#biz
					section#bizdata1.grayboxed.clonablebiz
						p
							label(for="bizName")= bizName
							input(type='text', name='bizName')
						p
							label(for="bizEst")= bizEst
							input(type='text', name='bizEst', placeholder='yyyy', title="Tahun Didirikan")
						p
							label(for="bizField")= bizField
							select#bizField(name='bizField')
							script
								initField('', 'bizField');
						p
							label(for="bizNumOfEmployee")= bizNumOfEmployee
							select(name='bizNumOfEmployee')
								option(value="", selected)
								option(value="1") 0-10 orang
								option(value="2") 11-30 orang
								option(value="3") 31-60 orang
								option(value="4") 61-150 orang
								option(value="5") 151-300 orang
								option(value="6") lebih dari 300 orang
						p
							label(for="bizMonthlyRevenue")= bizMonthlyRevenue
							select(name='bizMonthlyRevenue')
								option(value="", selected)
								option(value="1") IDR 0-10.000.000
								option(value="2") IDR 10.000.001-25.000.000
								option(value="3") IDR 25.000.001-100.000.000
								option(value="4") IDR 100.000.001-200.000.000
								option(value="5") IDR 200.000.001-420.000.000
								option(value="6") lebih dari IDR 420.000.001

					input(type='hidden', name='noofbiz', id='noofbiz', value='1')
					input(type='button', class="addbuttonbiz addbtn", value='Tambah Bisnis').showelement
					input(type='button', class="delbuttonbiz delbtn", value='Hilangkan input terakhir').hidden

			// Family Business
			section.workFamily
				p
					label(for="worktype").hidden
					input(type='checkbox', name='worktype', value='family', id='family')
					| Saya menjalankan bisnis keluarga

					div#fam
						section#famdata1.grayboxed.clonablefam
							p
								label(for="famName")= famName
								input(type='text', name='famName', value='')
							p
								label(for="famEst")= famEst
								input(type='text', name='famEst', placeholder='yyyy', title="Tahun Didirikan")
							p
								label(for="famField")= famField
								select#famField(name='famField')
								script
									initField('', 'famField');
							p
								label(for="famNumOfEmployee")= famNumOfEmployee
								select(name='famNumOfEmployee')
									option(value="", selected)
									option(value="1") 0-10 orang
									option(value="2") 11-30 orang
									option(value="3") 31-60 orang
									option(value="4") 61-150 orang
									option(value="5") 151-300 orang
									option(value="6") lebih dari 300 orang
							p
								label(for="famMonthlyRevenue")= famMonthlyRevenue
								select(name='famMonthlyRevenue')
									option(value="", selected)
									option(value="1") IDR 0-10.000.000
									option(value="2") IDR 10.000.001-25.000.000
									option(value="3") IDR 25.000.001-100.000.000
									option(value="4") IDR 100.000.001-200.000.000
									option(value="5") IDR 200.000.001-420.000.000
									option(value="6") lebih dari IDR 420.000.001
									//	a(href='#').addbutton Add Business

						input(type='hidden', name='nooffam', id='nooffam', value='1')
						input(type='button', class="addbuttonfam addbtn", value='Tambah Bisnis Keluarga').showelement
						input(type='button', class="delbuttonfam delbtn", value='Hilangkan input terakhir').hidden

	// Additional info = Internship
	fieldset
		legend#intern= intern
		p
			label(for="internship") Saya pernah melakukan kerja praktek semasa kuliah selama
			input(type='text', name='internship', value='')
			|  bulan
	input(type='submit', name='alumniData', value='Submit', id='submitButton')